/* 班級列表的css */
.justify-content-between{
  padding:50px;
  align-items: center;
}
.content{
  margin:10px;
  background-color: #ddddca26;
  width: 90%;
  justify-content: center;
  padding:20px;
}
.buttonClass{
  
  height:35px;
  margin:10px;
  float: right;
  background-color:pink;
  color:rgb(59, 51, 48);
  border-radius:1.5rem;
  
}

/* 班級頁面的css */
.buttonStudent{
  float: right;
  margin:20px;
  border-radius:1.5rem;
}

/* dropdownMenu */
.dropdownMenu{
  float:center;
  margin:40px;
  background-color:pink;
  color:rgb(122, 106, 100);
  width:100px;
}
.dropdownCol{
  background-color: #e5edf5e0
}
.buttonGroup{
  margin: 50px;
  float:left;
  background-color:pink;
  color:rgb(59, 51, 48);
  height:45px;
  border-radius:1.5rem;
}

.chooseClassName{
  margin:30px;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.classBox{
 
  justify-content: center;
  margin:30px;
  padding:10px;
  
}
.card-body{
  background-color: #ffc0cb59
}
.classBox2{
  margin:50px;
  text-align: center;
  justify-content: center;
}
.dropDownColor{
  background: url('https://picsum.photos/2000/1000?image=941');
  /* background-color: #2196f39e; */
  padding:20px;
}
.deleteGroup{
  border-radius:1.5rem;
}

/* 避免重疊 */
#Item {
  top: 100px !important; 

}

.noGroupStudent,.groupStudent{
  margin:10px;
  display: flex;
}
.bottom {
  padding:10px;
  line-height: -10px;
  background-color: rgba(228, 227, 201, 0.788);
  position:fixed;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  left: 0px;
  margin:0px
  }
