/* 班級列表的css */
.justify-content-between{
  margin:20px;
  padding:50px
  
}
.content{
  
  width: 100%;
  margin:10px;
}
.buttonClass{
  
  height:5vh;
  margin:30px;
  float: center;
  background-color:pink;
  color:rgb(59, 51, 48);
  border-radius:1.5rem;
  
}

/* 班級頁面的css */
.buttonStudent{
  float: right;
  margin:20px;
  border-radius:1.5rem;
}

/* dropdownMenu */
.dropdownMenu{
  float:center;
  margin:40px;
  background-color:pink;
  color:rgb(59, 51, 48);
  width:100px;
}
.dropdownCol{
  background-color: #f0f8ff
}
.buttonGroup{
  margin: 50px;
  float:left;
  background-color:pink;
  color:rgb(59, 51, 48);
  height:5vh;
  border-radius:1.5rem;
}

.chooseClassName{
  margin:30px;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  /* float: right; */
}
.classBox{
 
  justify-content: center;
  /* text-align:center; */
  margin:30px;
  padding:10px;
  /* float:right; */
  
}
.card-body{
  background-color: #ffc0cb59
}
.classBox2{
  margin:50px;
  text-align: center;
  justify-content: center;
}
.dropDownColor{
  background-color: #5eccf826;
  padding:20px;
}
.deleteGroup{
  border-radius:1.5rem;
}

/* 避免重疊 */
#Item {
  top: 100px !important; 

}

